<div class="container" style="margin-top:100px;">
  <div class="row">
    <div class="col">
    <h1 class="text-center comparison-score">Your comparisons score with <%= @rep.full_name %> is <%= number_to_percentage(@comparison_score) %> </h1>
    </div>
  </div>
</div>
<br><br><br>