<div class="container">
  <div class="row">
    <div class="col-6 text-center" style="padding-top:100px;">
      <h6>Enter a bill number to compare to your selected representative</h6>
      <div>
        <span class="error-message" value=""></span>
      </div>
      <div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="defaultInline1" name="inlineDefaultRadiosExample" value="S." onclick="switchSpan();">
          <label class="custom-control-label" for="defaultInline1">Senate</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="defaultInline2" name="inlineDefaultRadiosExample" value="H.R." onclick="switchSpan();">
          <label class="custom-control-label" for="defaultInline2" >House</label>
        </div>
        <span id="spanned-text" value=""></span>
        <input type="text" class="search-value" placeholder="Search" aria-label="Search" value="">
        <button class=" btn-outline-success sized-button" onclick="sendParam();">Search</button>
      </div>
    </div>
    <div class="col-6 text-center" style="padding-top:100px;">
      <h6>Search bills by topic to compare</h6>
      <div>
        <p></p><br />
      </div>
      <select class="form-control topic" id ="small-select" onchange="sendMultiParams();" style="margin-top:-10px;">
        <option selected class="text-center">Select Topic</option>
        <% @subjects.each do |subject| %>
          <option><%= subject %></option>
        <% end %>
      </select>
    </div>
  </div>
</div>
