/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
.sidenav {
  height: 73%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 26%;
  left: 0;
  overflow-x: hidden;
  padding-top: 5px;
  padding-left: 5px;
}
// @media screen and (max-height: 450px) {
//   .senate-sidenav {padding-top: 15px;}
//   .senate-sidenav a {font-size: 18px;}
//   .fixed-image {margin-left:500px;}
// }

.senate-sidenav {
  height: 19%;
  width: 200px;
  position: fixed;
  border-bottom: 2px solid black;
  z-index: 1;
  top: 8%;
  left: 0;
  overflow-x: hidden;
  padding-top: 5px;
  padding-left: 5px;
}


.main {
  margin-left: 160px;
  padding: 0px 10px;
}

.scrollable{
  overflow-y:auto;
  height: 150px;
  position:fixed;
  z-index: 1;
  overflow-x: hidden;

}

.home-scroll{
  overflow-y: auto;
  overflow-x:hidden;
}

.search-scroll{
  overflow-y: auto;
  position: fixed;
}

.hoverable:hover{
  background-color: blue;
  color:white;
}

.representatives-scrollable{
  overflow-y:auto;
  height:780px;
  width:250px;
  margin:auto;
}
.sized-button{
  border-radius:4px;
  border: 2px solid green;
  background-color:white;
  height:32px;
  width:80px;
}
#small-select{
  width:auto;
  margin-left: auto;
  margin-right:auto;
}
.error-message{
  display: inline-block;
  margin-top:-5px
}
.footer{
  position:fixed;
  height:80px;
  bottom:0;
  width: 100%;
}

.nav-scrollable{
  overflow-y:auto;
  height: 200px;
}

.tool-format{
  background-color: white;
  color:blue;
  border: 1px solid blue;
  padding: 0px 6px;
  height:2px;
  border-radius: 50%;
}
#popup{
  display: none;
  width:300px;
  font-size:12px;
  margin-bottom:-2em;
  border: 1px solid blue;
}
.ui-autocomplete{
  overflow-y:auto !important;
  max-height: 150px;
  overflow-x:hidden;
  width: 50px;
}
#bills-table {
  border-collapse: collapse;
  width: 100%;
}

#bills-table td, #bills th {
  border: 1px solid #ddd;
  padding: 8px;
}

#bills-table tr:nth-child(even){background-color: #f2f2f2;}

#bills-table tr:hover {background-color: #ddd;}

#bills-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
.right-side-nav{
  margin-top:50px;
  height:575px;
  width:285px;
  margin-left:78.5%;
  position:fixed;
  overflow-y:auto;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
#dashboard-senate-sidenav{
  height: 25%;
  width: 200px;
  position: fixed;
  border-bottom: 2px solid black;
  z-index: 1;
  top: 8%;
  left: 0;
  overflow-x: hidden;
  padding-top: 5px;
  padding-left: 5px;
  overflow-y: atuo;
}
#dashboard-rep-sidenav{
  height: 50%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 34%;
  left: 0;
  overflow-x: hidden;
  padding-top: 5px;
  padding-left: 5px;
  overflow-y:auto;
}
.logo{
  position:absolute;
  top:-1.3em;
  margin-top:0;
  width:90px;
  height:100px;
  margin-left:15px;
}

.tweet-button {
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:22px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.tweet-button:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
  background-color:#019ad2;
	text-decoration:none;
}
.tweet-button:active {
	position:relative;
	top:1px;
}
.fixed-image{
  position:fixed;
  margin-left:780px;
  margin-top:100px;
  width:350px;
}
.sen-info{
  margin-left:225px;
  margin-top:25px;
}
body{
  background-image:url('https://mk0dcphotoguide69e7p.kinstacdn.com/wp-content/uploads/2017/04/us-capitol-building-at-night-panorama-10-copyright-havecamerawilltravel-com.jpg');
}
// <style type='text/css' >body{background-color:rgb(0,0,0);background-image:url(https://mk0dcphotoguide69e7p.kinstacdn.com/wp-content/uploads/2017/04/us-capitol-building-at-night-panorama-10-copyright-havecamerawilltravel-com.jpg);background-position:top right;background-repeat:no-repeat;background-attachment:local;}</style>
// style="margin-left:225px;margin-top:25px;"
@media only screen and (min-width:1200px) and (max-width: 1600px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  .fixed-image{
    position:fixed;
    margin-left:650px;
    margin-top:100px;
    width:350px;
  }
  .right-side-nav{
    margin-left:78%;
    margin-top:27px;
  }
  .sen-info{
    margin-left:225px;
    margin-top:-2em;
  }
  .bills-nav{
    margin-right:160px;
    font-size:20px;
  }
  .rep-info{
    margin-left:225px;
    margin-top:-2em;
  }
  body{
    background-color:rgb(0,0,0);
    background-size:132% 180%;
    background-position: 80% 0%;
    background-repeat:no-repeat;
    background-attachment:local;
  }
  #submit-button{
    margin-bottom:10px;
  }
  .dashboard{
    height:500px;
    width:900px;
    margin-left:220px;
  }
  .compared-rep{
    margin-left:59px;
  }
}
@media only screen and (min-width:1600px){
  body{
    background-color:rgb(0,0,0);
    background-size:132% 207%;
    background-position: 80% 0%;
    background-repeat:no-repeat;
    background-attachment:local;
  }
  .sen-info{
    margin-left:225px;
  }
  .rep-info{
    margin-left:225px;
  }
  .compared-rep{
    margin-left:-.5em;
  }
  .bills-nav{
    margin-right:400px;
    font-size:20px;
  }
}
@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:landscape){
  body{
    background-color:rgb(0,0,0);
    background-size:132% 185%;
    background-position: 80% 0%;
    background-repeat:no-repeat;
    background-attachment:local;
  }
  .sen-info{
    margin-left:220px;
    margin-top:-1em;
  }
  .rep-info{
    margin-left:220px;
    margin-top:-1em;
  }
  .fixed-image{
    position:fixed;
    margin-left:560px;
    margin-top:100px;
    width:250px;
  }
  .right-side-nav{
    margin-left:74%;
    margin-top:35px;
  }
  .rep-name{
    font-size:28px;
  }
  .rep-district{
    font-size:20px;
  }
  .login-message{
    font-size:13px;
  }
  .sen-name{
    font-size:28px;
  }
  .sen-state{
    font-size:20px;
  }
  .bills-nav{
    margin-right:100px;
    font-size:17px;
  }
  .side-nav{
    margin-top:20px;
  }
  .senate-sidenav{
    margin-top:10px;
  }
  .search_by_name{
    width:160px !important;
  }
}
