.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 60px;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 20px;
}


.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: blue;
  display: block;
}


.sidenav a:hover {
  color: #3366ff;
}


.main {
  margin-left: 160px;
  padding: 0px 10px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.scrollable{
  overflow-y:auto;
  height: 150px;
}

.home-scroll{
  overflow-y: auto;
}

.search-scroll{
  overflow-y: auto;
  position: fixed;
}

.hoverable:hover{
  background-color: blue;
  color:white;
}

.representatives-scrollable{
  overflow-y:auto;
  height:1500px;
  width:250px;
}
#bills-table {
  border-collapse: collapse;
  width: 100%;
}

#bills-table td, #bills th {
  border: 1px solid #ddd;
  padding: 8px;
}

#bills-table tr:nth-child(even){background-color: #f2f2f2;}

#bills-table tr:hover {background-color: #ddd;}

#bills-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
