.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 60px;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 20px;
}


.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: blue;
  display: block;
}


.sidenav a:hover {
  color: #3366ff;
}


.main {
  margin-left: 160px;
  padding: 0px 10px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.scrollable{
  overflow-y:auto;
  height: 150px;
}

.home-scroll{
  overflow-y: auto;
}

.search-scroll{
  overflow-y: auto;
  position: fixed;
}

.hoverable:hover{
  background-color: blue;
  color:white;
}

.representatives-scrollable{
  overflow-y:auto;
  height:1500px;
  width:250px;
}

.smaller {
  height:0px;
}
